---
title: "Stop Abusing Charlie For Fun"
summary: "Charlie has had enough of your bullshit"
import { Image } from 'astro:assets';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="main">
		<div class="header">
			<h1>Stop Abusing Charlie For fun</h1>
			<p>Charlie has had enough of your bullshit</p>
			<p>day by day she gets abused for fun inside games like VRChat and Resonite when he is just trying to do things</p>
			<p>Please give her a break.</p>

		</div>
		<div class="body">
			<p>This is charlie</p>
			<Image src="/imgs/img1.png" alt="charlie" width= "300" height="400" loading="eager"></Image>
			<p>Yeah she did some things on accident but that doesn't mean you should abuse him for fun</p>
			<p>sHe is a human being too</p>
			<p>i've created this page so we can stop abusing this girl</p>
			<p>sHe is a good person and he doesn't deserve this</p>
			<a href="/whois">who is she?</a>
		</div>
	</div>
</body>
</html>

<style>
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header {
		text-align: center;
	}
	.body {
		text-align: center;
	}
	.header h1 {
		font-size: 50px;
	}
	.header p {
		font-size: 20px;
	}
	.body img {
		width: 300px;
		
	}

</style>